* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetics, sans-serif;
  line-height: 1.4;
}

a {
  color: white;
  text-decoration: none;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: blue;
  color: white;
}

.nav-links{
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.logo-area img{
  margin-top: 3px;
  height : 20%;
  width : 30%;
  align-items: center;
}

.userform {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
  
.userform label {
  margin: 5px 10px 5px 0;
}

.userform input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

  .userform button:hover {
  background-color: royalblue;
}



