* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetics, sans-serif;
  line-height: 1.4;
  padding: 5;
}

a {
  color: white;
  text-decoration: none;
}

.Navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  padding: 0;
  z-index: 10;
  background: linear-gradient(176.69deg, #0099FF 0%, #0066FF 120.34%);
  transition: background-color 0.2s ease;
}

.Navlogo{
  position: relative;
  margin: 0;
  margin: 12px 0 0 50%;
  transform: translate(-50%);
  display: inline-block;
  font-size: 26px;
  user-select: none;
  font-weight: 500;
  transition: color 0.2s ease;
  z-index: 15;
}

.listbox{
  list-style: none;
  margin: 0;
  font-weight: 500;
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: calc(160px + 10vw);
  padding: 0;
  position: absolute;
  top: 10px;
  right: calc(70px + 1vw);
  transition: color 0.2s ease;
  z-index: 15;
}

.listitem{
  border-style: none;
  background-color: transparent;
  text-align: left;
  height: 20px;
  outline: 0;
  font-size: 18px;
}

.userform{
 background-color: transparent;
 margin-bottom: 50px;
}
  
.userform label{
  margin: auto;
  width: 70;
  max-width: 775px;
  padding: 8px 35px 30px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  position: relative;
  animation: PhaseIn 0.5s ease forwards;
  transition: box-shadow 0.2s ease;
}

.userform input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

  .userform button:hover {
  background-color: royalblue;
}



